table, th, td {
    border: 2px solid gray;
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: black;
    background-image: url('./img/binding_dark.png');
    background-repeat: repeat;
    color: white;
    text-align: center;
    font-family: helvetica ,monospace; 
    font-size: 18px;
}
