table, th, td {
    border: 2px solid gray;
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: black;
    background-image: url('./img/binding_dark.png');
    background-repeat: repeat;
    color: white;
    text-align: center;
    font-family: helvetica, monospace; 
    font-size: 18px;
}


ul {
	list-style-type: none;
	margin: -6px;
    
}


li {
	display: inline;
	border: 2px solid gray;
	font-family: helvetica, monospace;
	color: white;
	padding: 2px;
	/*border-radius: 5px 5px;*/
	background-color: gray;
}

li:hover {
    color: #303030;
}

#navbar {
	top:10px;
	margin-left:-35px;
    background-color: gray;
}


#header {
    position: relative;
    border: 16px solid gray;
    top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

